.header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-badges);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
}

.logo {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.navLink {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  color: var(--color-main);
  transition: color var(--transition);
}

.navLink:focus-visible,
.navLinkActive {
  color: var(--color-accent);
}

@media (hover: hover) {
  .navLink:hover {
    color: var(--color-accent);
  }
}
