.main {
  flex: 1;
  padding: var(--page-padding-top) 0 var(--page-padding-bottom);
}

.layout {
  display: grid;
  grid-template-columns: 640px 1fr;
  align-items: start;
  gap: var(--space-xl);
}

.aside {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}

.image {
  width: 640px;
  height: 512px;
  border-radius: var(--radius-lg);
  object-fit: cover;
}
