.main {
  flex: 1;
  padding: 84px 0 124px;
}

.layout {
  display: grid;
  grid-template-columns: 640px 1fr;
  align-items: start;
  gap: 32px;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.image {
  width: 640px;
  height: 512px;
  border-radius: 19px;
  object-fit: cover;
}
