.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-md);
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}

@media (min-width: 768px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .price {
    width: 196px;
  }

  .actions {
    padding-top: var(--space-lg);
  }
}

@media (min-width: 1280px) {
  .form {
    flex-wrap: nowrap;
  }
}

.reset {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-md);
  line-height: var(--line-height-base);
  color: var(--color-gray);
  transition: color var(--transition);
}

.reset:focus-visible {
  color: var(--color-main);
}

@media (hover: hover) {
  .reset:hover {
    color: var(--color-main);
  }
}
